html, body {height: 100%}

.itens {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 500px;
}

.cabecalho_grande h1 {
    text-align: left;
    text-decoration: none;
    color: #5ce1e6;
    display: block;
    background-color: rgb(0,0,0,0.6);
}

.text_nav {
    text-align: left;
}

.icone_login {
    align-items: center;
}
