* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    color: #239ca1;
}

.navbar-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-weight: bold;
}

.logo_azul {
    height: 80px;
    width: auto;
}

.navbar-container ul {
    display: flex;
    list-style: none;
}

.navbar-container ul li {
    padding: 0 20px;
}